---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {blok.headline}
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    {blok.subheadline}
  </p>
</div>
