---
import { ContactInfo } from "@components/ContactInfo"
import { Education } from "@components/Education"
import { Experience } from "@components/JobExperience"
import { Skills } from "@components/Skills"
import { SocialMedia } from "@components/SocialMedia"
import Section from "@components/Section.astro"
import Layout from "@layouts/ResumeLayout.astro"
---

<Layout title="Devon Walker">
  <div class="container min-w-min max-w-6xl mx-auto px-9 py-9">
    <header class="flex items-end">
      <h1 class="grow mr-4 uppercase text-5xl tracking-tighter text-sky-600">
        Devon<span class="font-bold">Walker</span>
      </h1>
      <div class="basis-3/12 mr-2">
        <ContactInfo />
      </div>
      <div class="basis-3/12">
        <SocialMedia />
      </div>
    </header>
    <main class="grid">
      <Section className="mt-14 print:order-1" title="Skills">
        <Skills />
      </Section>
      <Section className="mt-8" title="Experience">
        <Experience />
      </Section>
      <Section className="mt-4 order-2" title="education">
        <Education />
      </Section>
    </main>
  </div>
</Layout>
