---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Experienced Software Engineer",
    description:
      "Seasoned software engineer with over a decade of proficiency in constructing dynamic web applications using a multitude of programming languages.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Full-Stack Specialist",
    description:
      "Demonstrated expertise in full-stack development, seamlessly navigating from UI design down to database optimization and every layer in between.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Committed to Quality",
    description:
      "Adopts a rigorous test-driven development approach, leveraging unit and integration tests, coupled with popular testing libraries, to ensure robust software solutions.",
    icon: "bx:bxs-medal",
  },
  {
    title: "Leverages Containerization",
    description:
      "Proficient in the application of containerization and virtualization technologies such as Docker and Vagrant, adept at packaging and distributing applications effectively.",
    icon: "bx:bxs-package",
  },
  {
    title: "Cloud-Fluent",
    description:
      "Well-versed in cloud platforms, including AWS and Google Cloud Platform, adept at deploying, scaling, and managing applications in dynamic cloud environments.",
    icon: "bx:bxs-cloud",
  },
  {
    title: "Team Player",
    description:
      "Collaborative professional with a proven track record of seamlessly integrating into and contributing to over 20 diverse teams, including client-facing environments.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Ready to elevate your organization
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Allow me to provide several reasons why I'm the ideal candidate for the job
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
